.product-card {
  border-radius: 16px;
  transition: all 0.3s ease;
  overflow: hidden;
}

.product-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.15);
}

.product-img-wrapper {
  overflow: hidden;
}

.product-img {
  height: 230px;
  object-fit: contain;
  transition: transform 0.5s ease;
}

.product-card:hover .product-img {
  transform: scale(1.1);
}
.category-item:hover {
  background-color: #ffc107;
  transition: 0.3s;
}
.nav-link:hover {
  color: #ffc107 !important;
  transition: 0.3s;
}

.dropdown-item:hover {
  background-color: #ffc107;
  color: black;
}